<div class="container">

<app-wish-form
(addWish)="items.push($event)"
></app-wish-form>

  <div class="row mt-3">
    <div class="col-sm-2 ">
      <select class="form-select border border-primary" [(ngModel)]="listFilter"
        (ngModelChange)="filterChanged($event)">
        <option value="0">All</option>
        <option value="1">Unfulfilled</option>
        <option value="2">Fulfilled</option>
      </select>
    </div>
  </div>



  <div class="row mt-3">
    <app-wish-item [wishes]="visibleItems"></app-wish-item>

  </div>


</div>
