<div class="container text-center">
  <h2 class="mb-3 font-weight-bold">{{ title | titlecase }}</h2>

  <form>
    <div class="form-check d-flex column ">
      <input
        class="form-control border border border-warning rounded-5"
        type="text"
        placeholder="Write new Wish Item"
        [(ngModel)]="wishText"
        [ngModelOptions]="{standalone: true}"
        name="wish-text"
      />
      <button
      (click)="$event.preventDefault(); addWishes()"
      type="submit" class="btn btn-primary mx-3">
      Submit
    </button>
    </div>


    <div *ngIf="items.length === 0; else showItems">No items to display</div>

    <ng-template #showItems>
      <div *ngIf="items.length > 0">
        <div
          class="d-flex justify-content-start"
          *ngFor="let item of items; index as ii"
        >
          <input
            id="wishlist_checkbox"
            class="mx-3"
            type="checkbox"
            [checked]="item.isComplete"
            [attr.data-index]="ii"
            (change)="toggleItem(item)"
          />

          {{ item.wishItem }}
        </div>
      </div>
    </ng-template>
  </form>
</div>
